<div id="content" class="pmd-content" ng-if="menuList.nowmenu == 'dataManager'" ng-controller="dataManager">

    <!-- Typography  -->
    <div class="container-fluid">

        <!--section-title -->
        <h1 class="section-title" id="services">
            <span>资料管理</span>
        </h1><!--section-title end -->
        <!--breadcrum start-->
        <ol class="breadcrumb text-left">
            <li><a ng-click="showMenu('homePage')">主页</a></li>
            <li class="active">资料管理</li>
        </ol><!--breadcrum end-->
        <!-- componant header-->
        <div class="componant-title-bg">
            <div class="row">
                <!-- component title and description-->
                <div class="col-xs-12"> 
                    <p class="lead">课程老师提供的资料都在这里哦.</p>
                </div> <!--end component title and description-->
            </div>
        </div> <!--end component header-->
        <div class="section billinfo">
            <!-- section content start-->
            <div class="pmd-card pmd-z-depth">
                <div class="pmd-card-body">
                    <div class="row" role="form">
                        <div class="col-sm-3">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <input class="form-control" id="exampleInputEmail2" type="text" placeholder="上传人"><span class="pmd-textfield-focused"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <input class="form-control" id="exampleInputPassword2" type="text" placeholder="资料标题"><span class="pmd-textfield-focused"></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label class="checkbox-inline pmd-checkbox pmd-checkbox-ripple-effect">
                                <input type="checkbox" value="" checked=""><span class="pmd-checkbox-label">&nbsp;</span>
                                <span> 课程资料</span>
                            </label>
                            <label class="checkbox-inline pmd-checkbox pmd-checkbox-ripple-effect">
                                <input type="checkbox" value="" checked=""><span class="pmd-checkbox-label">&nbsp;</span>
                                <span> 考试资料</span>
                            </label> 
                        </div>
                        <div class="col-sm-2 text-right">
                            <button type="button" class="btn btn-success pmd-ripple-effect">搜索</button>
                        </div>
                    </div>
                </div>
            </div> <!-- section content end -->
        </div>

        <div class="row masonry" id="card-masonry-datamanage" style="position: relative; opacity: 1;"> 
           
            <div class="col-md-4 col-sm-6 masonry-brick">
                <h3 class="text-muted">数学</h3>
                <div class="pmd-card pmd-card-default pmd-z-depth">
                    <div class="pmd-card-title">
                        <h2 class="pmd-card-title-text">历年数学期末试题  </h2>
                        <span class="pmd-card-subtitle-text">admin   2017/1/1 10:05:57 </span>
                    </div>
                    <div class="pmd-card-body">
                         本资料包含了本校近五年数学期末考试的全部试题，欢迎同学下载！！！
                    </div>
                    <div class="pmd-card-actions">
                        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary">点击下载</button>
                        <button class="btn pmd-btn-flat pmd-ripple-effect btn-default" type="button">查看详情</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-brick">
                <h3 class="text-muted">语文</h3>
                <div class="pmd-card pmd-card-default pmd-z-depth">
                    <div class="pmd-card-title">
                        <h2 class="pmd-card-title-text">历年语文期末试题</h2>
                        <span class="pmd-card-subtitle-text">admin   2017/1/1 10:07:26</span>
                    </div>
                    <div class="pmd-card-body">
                        本资料包含了本校近五年语文期末考试的全部试题，欢迎同学下载！！！
                    </div>
                    <div class="pmd-card-actions">
                        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary">点击下载</button>
                        <button class="btn pmd-btn-flat pmd-ripple-effect btn-default" type="button">查看详情</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-brick">
                <h3 class="text-muted">英语</h3>
                <div class="pmd-card pmd-card-default pmd-z-depth">
                    <div class="pmd-card-title">
                        <h2 class="pmd-card-title-text">历年英语期末试题</h2>
                        <span class="pmd-card-subtitle-text">admin  2017/1/1 10:09:56</span>
                    </div>
                    <div class="pmd-card-body">
                        本资料包含了本校近五年英语期末考试的全部试题，欢迎同学下载！！！
                    </div>
                    <div class="pmd-card-actions">
                        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary">点击下载</button>
                        <button class="btn pmd-btn-flat pmd-ripple-effect btn-default" type="button">查看详情</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-brick">
                <h3 class="text-muted">初一|下册|语文</h3>
                <div class="pmd-card pmd-card-default pmd-z-depth">
                    <div class="pmd-card-title">
                        <h2 class="pmd-card-title-text">优秀作文欣赏</h2>
                        <span class="pmd-card-subtitle-text">liuer   2017/1/2 11:05:57</span>
                    </div>
                    <div class="pmd-card-body">
                        满分作文《心中有支欢乐的歌》，文笔优美，辞藻华丽，望同学欣赏！
                    </div>
                    <div class="pmd-card-actions">
                        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary">点击下载</button>
                        <button class="btn pmd-btn-flat pmd-ripple-effect btn-default" type="button">查看详情</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-brick">
                <h3 class="text-muted">初三|下册|物理</h3>
                <div class="pmd-card pmd-card-default pmd-z-depth">
                    <div class="pmd-card-title">
                        <h2 class="pmd-card-title-text">公式大全</h2>
                        <span class="pmd-card-subtitle-text">张三  2017/3/18 17:56:23 </span>
                    </div>
                    <div class="pmd-card-body">
                        自己整理的初三物理下册的全部公式，方便同学学习
                    </div>
                    <div class="pmd-card-actions">
                        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary">点击下载</button>
                        <button class="btn pmd-btn-flat pmd-ripple-effect btn-default" type="button">查看详情</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-brick">
                <h3 class="text-muted">初三|上册|化学</h3>
                <div class="pmd-card pmd-card-default pmd-z-depth">
                    <div class="pmd-card-title">
                        <h2 class="pmd-card-title-text">实验</h2>
                        <span class="pmd-card-subtitle-text">lili 2017/4/2 21:22:38</span>
                    </div>
                    <div class="pmd-card-body">
                        初三化学上册所有实验的知识点总结！！欢迎同学下载
                    </div>
                    <div class="pmd-card-actions">
                        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary">点击下载</button>
                        <button class="btn pmd-btn-flat pmd-ripple-effect btn-default" type="button">查看详情</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-brick">
                <h3 class="text-muted">初二|上册|数学</h3>
                <div class="pmd-card pmd-card-default pmd-z-depth">
                    <div class="pmd-card-title">
                        <h2 class="pmd-card-title-text">几何知识点</h2>
                        <span class="pmd-card-subtitle-text">joe  2017/3/6 15:05:23</span>
                    </div>
                    <div class="pmd-card-body">
                        本资料是对初二上学期数学的几何部分知识点进行总结，包括概念、性质、判定等
                    </div>
                    <div class="pmd-card-actions">
                        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary">点击下载</button>
                        <button class="btn pmd-btn-flat pmd-ripple-effect btn-default" type="button">查看详情</button>
                    </div>
                </div>
            </div>
           

           
            <div class="col-md-4 col-sm-6 masonry-brick">
                <h3 class="text-muted">初三|上册|英语</h3>
                <div class="pmd-card pmd-card-default pmd-z-depth">
                    <div class="pmd-card-title">
                        <h2 class="pmd-card-title-text">课文背诵</h2>
                        <span class="pmd-card-subtitle-text"> keel  2017/3/26 16:47:55</span>
                    </div>
                    <div class="pmd-card-body">
                       本资料包含了初三英语上册全部的课文背诵部分，方便同学学习
                    </div>
                    <div class="pmd-card-actions">
                        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary">点击下载</button>
                        <button class="btn pmd-btn-flat pmd-ripple-effect btn-default" type="button">查看详情</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-brick">
                <h3 class="text-muted">初三|下册|数学</h3>
                <div class="pmd-card pmd-card-default pmd-z-depth">
                    <div class="pmd-card-title">
                        <h2 class="pmd-card-title-text">易错题</h2>
                        <span class="pmd-card-subtitle-text">john 2017/4/15 18:32:26 </span>
                    </div>
                    <div class="pmd-card-body">
                         初三下学期自己整理是数学易错题，给同学们提供参考
                    </div>
                    <div class="pmd-card-actions">
                        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary">点击下载</button>
                        <button class="btn pmd-btn-flat pmd-ripple-effect btn-default" type="button">查看详情</button>
                    </div>
                </div>
            </div>
           
           
           

        </div>

        <a type="button" style="margin-top:15px;" class="btn pmd-ripple-effect btn-success btn-block">加载更多</a>         
    </div>
    <!--typography constructor -->

</div>