<div id="content" class="pmd-content" ng-if="menuList.nowmenu == 'testManager'" ng-controller="testManager">

    <!-- Typography  -->
    <div class="container-fluid">

        <!--section-title -->
        <h1 class="section-title" id="services">
            <span>考试管理</span>
        </h1><!--section-title end -->
        <!--breadcrum start-->
        <ol class="breadcrumb text-left">
            <li><a ng-click="showMenu('homePage')">主页</a></li>
            <li class="active">考试管理</li>
        </ol><!--breadcrum end-->
        <!-- componant header-->
        <div class="componant-title-bg">
            <div class="row">
                <!-- component title and description-->
                <div class="col-xs-12"> 
                    <p class="lead">最新最全的考试都在这里哦.</p>
                </div> <!--end component title and description-->
            </div>
        </div> <!--end component header-->

        <div class="section billinfo">
            <!-- section content start-->
            <div class="pmd-card pmd-z-depth">
                <div class="pmd-card-body">
                    <div class="row" role="form">
                        <div class="col-sm-3">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <input class="form-control" id="exampleInputEmail2" type="text" placeholder="上传人"><span class="pmd-textfield-focused"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <input class="form-control" id="exampleInputPassword2" type="text" placeholder="考试标题"><span class="pmd-textfield-focused"></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label class="checkbox-inline pmd-checkbox pmd-checkbox-ripple-effect">
                                <input type="checkbox" value="" checked=""><span class="pmd-checkbox-label">&nbsp;</span>
                                <span> 随堂考试</span>
                            </label>
                            <label class="checkbox-inline pmd-checkbox pmd-checkbox-ripple-effect">
                                <input type="checkbox" value="" checked=""><span class="pmd-checkbox-label">&nbsp;</span>
                                <span> 期中考试</span>
                            </label>
                            <label class="checkbox-inline pmd-checkbox pmd-checkbox-ripple-effect">
                                <input type="checkbox" value="" checked=""><span class="pmd-checkbox-label">&nbsp;</span>
                                <span> 期末考试</span>
                            </label>
                        </div>
                        <div class="col-sm-2 text-right">
                            <button type="button" class="btn btn-success pmd-ripple-effect">搜索</button>
                        </div>
                    </div>
                </div>
            </div> <!-- section content end -->
        </div>

        <div class="row masonry" id="card-masonry-testmanage" style="position: relative; opacity: 1;">
            <div class="col-md-4 col-sm-6 masonry-brick">
                <h3 class="text-muted">数学</h3>
                <div class="pmd-card pmd-card-default pmd-z-depth">
                    <div class="pmd-card-title">
                        <h2 class="pmd-card-title-text">初一数学期中考试</h2>
                        <span class="pmd-card-subtitle-text">admin   2017/5/6 08:00:00</span>
                    </div>
                    <div class="pmd-card-body">
                         一、选择题(本题共10小题，每题2分，共20分) <br/>
                         1、已知等腰三角形的两边长分别为2cm和4cm，则它的周长为(    )<br /> A．1cm           B．8cm   <br />C．8cm或10cm    D．10cm <br />
                         2、在一个暗箱里装有3个红球、5个黄球和7个绿球，它们除颜色外都相同．搅拌均匀后，从中任意摸出一个球是红球的概率是(    )<br/>A、1/3     B、1/5 ...
                    </div>
                    <div class="pmd-card-actions">
                        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary">进入考试</button>
                        <button class="btn pmd-btn-flat pmd-ripple-effect btn-default" type="button">查看详情</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-brick">
                <h3 class="text-muted">语文</h3>
                <div class="pmd-card pmd-card-default pmd-z-depth">
                    <div class="pmd-card-title">
                        <h2 class="pmd-card-title-text">初二英语期中考试</h2>
                        <span class="pmd-card-subtitle-text">admin   2017/5/6 08:00:00</span>
                    </div>
                    <div class="pmd-card-body">
                        一、积累与运用（总共 34 分）<br /> 1、下列句子没有语病的一项是(   )（3分）<br /> A.回想自己走过的道路，我深深地体会到人生的价值在于奉献<br />B.我们肩负着建设祖国和保卫祖国<br />C.我用了整整一个小时左右，才写完了真篇作文<br /> D.语言通顺，这是衡量一篇作文好坏的重要标准之一<br />2、下面加点字注音完全正确的一项是（  ）（3分）...

                       
                    </div>
                    <div class="pmd-card-actions">
                        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary">进入考试</button>
                        <button class="btn pmd-btn-flat pmd-ripple-effect btn-default" type="button">查看详情</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-brick">
                <h3 class="text-muted">英语</h3>
                <div class="pmd-card pmd-card-default pmd-z-depth">
                    <div class="pmd-card-title">
                        <h2 class="pmd-card-title-text">初二英语期中考试</h2>
                        <span class="pmd-card-subtitle-text">admin   2017/5/6 08:00:00</span>
                    </div>
                    <div class="pmd-card-body">
                        第一部分：听力理解（25分）<br/>一、听句子，选择适当的答案。听一遍。（每小题1分， 共5分）<br/>(     ) 1. A. No, not at all.     B. Do you?    <br />       C. No, thanks.<br /> (     ) 2. A. Don’t worry.      B. You are right. <br />     C. It doesn’t matter.  
  (     ) 3. A. You’re clever.     B. I’d love to. <br />      C.That’s a good idea.   <br/> (     )4. A. Yes, please.      B.Sorry, he is out.  <br />    C. I’m glad to hear that.  ...
                    </div>
                    <div class="pmd-card-actions">
                        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary">进入考试</button>
                        <button class="btn pmd-btn-flat pmd-ripple-effect btn-default" type="button">查看详情</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-brick">
                <h3 class="text-muted">物理</h3>
                <div class="pmd-card pmd-card-default pmd-z-depth">
                    <div class="pmd-card-title">
                        <h2 class="pmd-card-title-text">初三物理期中考试</h2>
                        <span class="pmd-card-subtitle-text">admin   2017/5/7 08:00:00</span>
                    </div>
                    <div class="pmd-card-body">
                        一、选择题（本题共12小题，每小题2分，共24分．每小题给出的四个选项中只有一个选项正确）<br />1．下列数据最接近实际的是（ ）<br /> A．教室的高约6m <br /> B．家用电冰箱正常工作电流约10A<br /> C．洗热水澡时的水温约42℃  <br />  D．中学生在体测中跑完1000m用时2min<br /> 2．下列关于光现象的说法中正确的是（）...
                    </div>
                    <div class="pmd-card-actions">
                        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary">进入考试</button>
                        <button class="btn pmd-btn-flat pmd-ripple-effect btn-default" type="button">查看详情</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-brick">
                <h3 class="text-muted">化学</h3>
                <div class="pmd-card pmd-card-default pmd-z-depth">
                    <div class="pmd-card-title">
                        <h2 class="pmd-card-title-text">初三化学期中考试</h2>
                        <span class="pmd-card-subtitle-text">admin   2017/5/7 08:00:00</span>
                    </div>
                    <div class="pmd-card-body">
                        一、下列各题均有4个选项，其中只有1个是符合题意的。（共35分，每小题1分）<br />1. 空气是我们人类赖以生存的物质。在空气的组成中，体积约占1/5的气体是（  ）<br />（A）氧气         （B）水蒸气        <br />（C）氮气          （D）二氧化碳<br /> 2. 地壳中含量最多的金属元素是（ ）<br />（A）氧           （B）硅            <br />（C）铝             （D）<br />3. 下列变化中，属于化学变化的是（）...
                    </div>
                    <div class="pmd-card-actions">
                        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary">进入考试</button>
                        <button class="btn pmd-btn-flat pmd-ripple-effect btn-default" type="button">查看详情</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-brick">
                <h3 class="text-muted">政治</h3>
                <div class="pmd-card pmd-card-default pmd-z-depth">
                    <div class="pmd-card-title">
                        <h2 class="pmd-card-title-text">初三政治期中考试</h2>
                        <span class="pmd-card-subtitle-text">admin   2017/5/7 08:00:00</span>
                    </div>
                    <div class="pmd-card-body">
                        一、单项选择题（共20分，1—10题每小题1分，11—15题每小题2分）<br />1.“如果有一天我的生命之钟停摆了，我愿意把它定格在自己的岗位上，永远保持一名思想理论战线英勇战士的冲锋状态，让有限的生命为太阳底下最壮丽的事业燃烧„”从方永刚的这句话中，我们可以感受到他 （     ）<br /> A. 珍惜生命的人生态度   B. 视死如归的英雄气概 C. 终身学习的可贵精神  D. ... 
                    </div>
                    <div class="pmd-card-actions">
                        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary">进入考试</button>
                        <button class="btn pmd-btn-flat pmd-ripple-effect btn-default" type="button">查看详情</button>
                    </div>
                </div>
            </div>

            
        </div>

        <a type="button" style="margin-top:15px;" class="btn pmd-ripple-effect btn-success btn-block">加载更多</a>
    </div>
    <!--typography constructor -->

</div>