# 忽略Web.config文件 
Web.config   
# 忽略BLL文件夹下bin和obj文件夹
/BLL/bin
/BLL/obj
# 忽略COL文件夹下bin和obj文件夹
/COL/bin
/COL/obj
# 忽略DAL文件夹下bin和obj文件夹
/DAL/bin
/DAL/obj
# 忽略OnlineApp文件夹下bin和obj文件夹
/OnlineApp/bin
/OnlineApp/obj
# 忽略SFL文件夹下bin和obj文件夹 
/SFL/bin
/SFL/obj 
# 添加忽略的文件 
OnlineApp.v12.suo
