<div id="content" class="pmd-content" ng-if="menuList.nowmenu == 'homeWorkManager'" ng-controller="homeWorkManager">

    <!-- Typography  -->
    <div class="container-fluid">

        <!--section-title -->
        <h1 class="section-title" id="services">
            <span>作业管理</span>
        </h1><!--section-title end -->
        <!--breadcrum start-->
        <ol class="breadcrumb text-left">
            <li><a ng-click="showMenu('homePage')">主页</a></li>
            <li class="active">作业管理</li>
        </ol><!--breadcrum end-->
        <!-- componant header-->
        <div class="componant-title-bg">
            <div class="row">
                <!-- component title and description-->
                <div class="col-xs-12">
                    <p class="lead">老师布置的最新作业都在这里哦.</p>
                </div> <!--end component title and description-->
            </div>
        </div> <!--end component header-->

        <div class="section billinfo">
            <!-- section content start-->
            <div class="pmd-card pmd-z-depth">
                <div class="pmd-card-body">
                    <div class="row" role="form">
                        <div class="col-sm-3">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <input class="form-control" id="exampleInputEmail2" type="text" placeholder="老师姓名" ng-model="query.userName"><span class="pmd-textfield-focused"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <input class="form-control" id="exampleInputPassword2" type="text" placeholder="作业标题" ng-model="query.homeWorkTask"><span class="pmd-textfield-focused"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label class="checkbox-inline pmd-checkbox pmd-checkbox-ripple-effect">
                                <input type="checkbox" value="" checked="" ng-model="query.inClass"><span class="pmd-checkbox-label">&nbsp;</span>
                                <span> 课堂作业</span>
                            </label>
                            <label class="checkbox-inline pmd-checkbox pmd-checkbox-ripple-effect">
                                <input type="checkbox" value="" checked="" ng-model="query.afterClass"><span class="pmd-checkbox-label">&nbsp;</span>
                                <span> 课后作业</span>
                            </label>
                        </div>
                        <div class="col-sm-3 text-right">
                            <button data-target="#form-dialog" data-toggle="modal" class="btn btn-info" type="button" ng-click="showAddHomeWork()">新增</button>
                            <button type="button" class="btn btn-success " ng-click="serachData()">搜索</button>
                        </div>
                    </div>
                </div>
            </div> <!-- section content end -->
        </div>

       

        <div class="row masonry" id="card-masonry-homework" style="position: relative; opacity: 1;">



           
                       
                

            <!--#include file="action.html" -->
            <!--窗口显示-->
            <div class="col-md-4 col-sm-6 masonry-brick" ng-if="homeWork.title" ng-repeat="homeWork in homeWorkList track by $index">
                <div class="text-left alert-custom title-span">
                     
                    <button type="button" class="btn-sm">{{homeWork.title.split(",").join(" | ")}}</button>
                </div>

                
                <div class="pmd-card pmd-card-default pmd-z-depth-3">
                    <div class="pmd-card-title">
                       <!-- <div class="media-left">
                            <a class="avatar-list-img" href="javascript:void(0);">
                                <img ng-src="{{course.userPic}}" width="40" height="40">
                               <!--<span class="pmd-card-subtitle-text">{{homeWork.userName}}</span><br />
                            </a>
                        </div>
                    -->
                        <div class="media-body media-middle">
                            {{homework.Alternate2}}
                       
                           <!-- <span class="pmd-card-subtitle-text">发布老师:{{homeWork.teacherName}}</span>-->
                            <span class="pmd-card-subtitle-text">{{homeWork.homeWorkTask}}</span>
                        </div>
                    </div>
                    <div class="pmd-card-media">
                        <img ng-src="{{homeWork.Alternate2}}" width="300" height="260"> 
                    </div>
                    <div class="pmd-card-title">
                       
                        <span class="pmd-card-subtitle-text">{{homeWork.updateTime}}</span>
                       
                        
                    </div>
                    <div class="pmd-card-body">
                        {{homeWork.content}}
                    </div>
                    <div class="pmd-card-actions">
                        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary" ng-click="showDeatil($index)">查看</button>
                        <button class="btn pmd-btn-flat pmd-ripple-effect btn-default" type="button" ng-click="showEditWnd($index)">编辑</button>
                        <button class="btn pmd-btn-flat pmd-ripple-effect btn-default" ng-click="delHomeWork($index)" type="button">删除</button>
                    </div>
                </div>
            </div>


        </div>

        <a type="button" style="margin-top:15px;" class="btn pmd-ripple-effect btn-success btn-block" ng-click="addMore()">加载更多</a>
    </div>
    <!--typography constructor -->

</div>