<div id="content" class="pmd-content" ng-if="menuList.nowmenu == 'comment'" ng-controller="comment">

    <!-- Typography  -->
    <div class="container-fluid">

        <!--section-title -->
        <h1 class="section-title" id="services">
            <span>评论管理</span>
        </h1><!--section-title end -->
        <!--breadcrum start-->
        <ol class="breadcrumb text-left">
            <li><a ng-click="showMenu('homePage')">主页</a></li>
            <li class="active">评论管理</li>
        </ol><!--breadcrum end-->
        <!-- componant header-->
        <div class="componant-title-bg">
            <div class="row">
                <!-- component title and description-->
                <div class="col-xs-12"> 
                    <p class="lead">最新最全的评论都在这里哦.</p>
                </div> <!--end component title and description-->
            </div>
        </div> <!--end component header-->

        <div class="section billinfo">
            <!-- section content start-->
            <div class="pmd-card pmd-z-depth">
                <div class="pmd-card-body">
                    <div class="row" role="form">
                        <div class="col-sm-3">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <input class="form-control" id="exampleInputEmail2" type="text" placeholder="评论人"><span class="pmd-textfield-focused"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <input class="form-control" id="exampleInputPassword2" type="text" placeholder="评论内容"><span class="pmd-textfield-focused"></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label class="checkbox-inline pmd-checkbox pmd-checkbox-ripple-effect">
                                <input type="checkbox" value="" checked=""><span class="pmd-checkbox-label">&nbsp;</span>
                                <span> 课程</span>
                            </label>
                            <label class="checkbox-inline pmd-checkbox pmd-checkbox-ripple-effect">
                                <input type="checkbox" value="" checked=""><span class="pmd-checkbox-label">&nbsp;</span>
                                <span> 作业</span>
                            </label>
                            <label class="checkbox-inline pmd-checkbox pmd-checkbox-ripple-effect">
                                <input type="checkbox" value="" checked=""><span class="pmd-checkbox-label">&nbsp;</span>
                                <span> 资料</span>
                            </label>
                            <label class="checkbox-inline pmd-checkbox pmd-checkbox-ripple-effect">
                                <input type="checkbox" value="" checked=""><span class="pmd-checkbox-label">&nbsp;</span>
                                <span> 测试</span>
                            </label>
                        </div>
                        <div class="col-sm-2 text-right">
                            <button type="button" class="btn btn-success pmd-ripple-effect">搜索</button>
                        </div>
                    </div>
                </div>
            </div> <!-- section content end -->
        </div>

        <div class="row masonry" id="card-masonry-comment" style="position: relative; opacity: 1;">

            <div class="col-md-4 col-sm-6 masonry-brick">
                <h3 class="text-muted">2017/1/1 15:05:57</h3>
                <div class="pmd-card pmd-card-media-inline pmd-card-default pmd-z-depth">
                    <div class="pmd-card-media">
                        <div class="media-body">
                            <h2 class="pmd-card-title-text">非常实用哦！！欢迎小伙伴留言</h2>
                            <span class="pmd-card-subtitle-text">admin</span>
                        </div>
                        <div class="media-right media-middle">
                            <a href="javascript:void(0);">
                                <img src="Static/img/user/1/admin/test_head.jpg" width="80" height="80">
                            </a>
                        </div>
                    </div>
                    <div class="pmd-card-actions">
                        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary">评论</button>
                        <button class="btn pmd-btn-flat pmd-ripple-effect btn-default" type="button">回复</button>
                    </div>
                </div>
            </div> 
            <div class="col-md-4 col-sm-6 masonry-brick">
                <h3 class="text-muted">2017/1/6 10:06:28</h3>
                <div class="pmd-card pmd-card-media-inline pmd-card-default pmd-z-depth">
                    <div class="pmd-card-media">
                        <div class="media-body">
                            <h2 class="pmd-card-title-text">老师讲的非常好，学到很多！</h2>
                            <span class="pmd-card-subtitle-text">liuer</span>
                        </div>
                        <div class="media-right media-middle">
                            <a href="javascript:void(0);">
                                <img src="UI/themes/images/user-baykam.jpg" width="80" height="80">
                            </a>
                        </div>
                    </div>
                    <div class="pmd-card-actions">
                        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary">评论</button>
                        <button class="btn pmd-btn-flat pmd-ripple-effect btn-default" type="button">回复</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-brick">
                <h3 class="text-muted">2017/1/15 09:56:25</h3>
                <div class="pmd-card pmd-card-media-inline pmd-card-default pmd-z-depth">
                    <div class="pmd-card-media">
                        <div class="media-body">
                            <h2 class="pmd-card-title-text">计划很详细，内容很丰富~~~</h2>
                            <span class="pmd-card-subtitle-text">john</span>
                        </div>
                        <div class="media-right media-middle">
                            <a href="javascript:void(0);">
                                <img src="UI/themes/images/user-john.jpg" width="80" height="80">
                            </a>
                        </div>
                    </div>
                    <div class="pmd-card-actions">
                        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary">评论</button>
                        <button class="btn pmd-btn-flat pmd-ripple-effect btn-default" type="button">回复</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-brick">
                <h3 class="text-muted">2017/2/2  11:03:15</h3>
                <div class="pmd-card pmd-card-media-inline pmd-card-default pmd-z-depth">
                    <div class="pmd-card-media">
                        <div class="media-body">
                            <h2 class="pmd-card-title-text">老师很负责，成绩提高了很多！！！</h2>
                            <span class="pmd-card-subtitle-text">keel</span>
                        </div>
                        <div class="media-right media-middle">
                            <a href="javascript:void(0);">
                                <img src="UI/themes/images/user-keel.jpg" width="80" height="80">
                            </a>
                        </div>
                    </div>
                    <div class="pmd-card-actions">
                        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary">评论</button>
                        <button class="btn pmd-btn-flat pmd-ripple-effect btn-default" type="button">回复</button>
                    </div>
                </div>
            </div>
             
            <div class="col-md-4 col-sm-6 masonry-brick">
                <h3 class="text-muted">2017/2/3  10:00:16</h3>
                <div class="pmd-card pmd-card-media-inline pmd-card-default pmd-z-depth">
                    <div class="pmd-card-media">
                        <div class="media-body">
                            <h2 class="pmd-card-title-text">我的E伙伴，我真正的学习伙伴</h2>
                            <span class="pmd-card-subtitle-text">valerii</span>
                        </div>
                        <div class="media-right media-middle">
                            <a href="javascript:void(0);">
                                <img src="UI/themes/images/user-valerii.jpg" width="80" height="80">
                            </a>
                        </div>
                    </div>
                    <div class="pmd-card-actions">
                        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary">评论</button>
                        <button class="btn pmd-btn-flat pmd-ripple-effect btn-default" type="button">回复</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-brick">
                <h3 class="text-muted">2017/2/25  15:36:59</h3>
                <div class="pmd-card pmd-card-media-inline pmd-card-default pmd-z-depth">
                    <div class="pmd-card-media">
                        <div class="media-body">
                            <h2 class="pmd-card-title-text">老师讲课很幽默，很喜欢</h2>
                            <span class="pmd-card-subtitle-text">joe</span>
                        </div>
                        <div class="media-right media-middle">
                            <a href="javascript:void(0);">
                                <img src="Static/img/user/1/admin/test_hz1.jpg" width="80" height="80">
                            </a>
                        </div>
                    </div>
                    <div class="pmd-card-actions">
                        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary">评论</button>
                        <button class="btn pmd-btn-flat pmd-ripple-effect btn-default" type="button">回复</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-brick">
                <h3 class="text-muted">2017/3/6  15:36:59</h3>
                <div class="pmd-card pmd-card-media-inline pmd-card-default pmd-z-depth">
                    <div class="pmd-card-media">
                        <div class="media-body">
                            <h2 class="pmd-card-title-text">自从用了我的E伙伴，妈妈再也不用担心我的学习啦</h2>
                            <span class="pmd-card-subtitle-text">lili</span>
                        </div>
                        <div class="media-right media-middle">
                            <a href="javascript:void(0);">
                                <img src="Static/img/user/1/admin/test_f1.jpg" width="80" height="80">
                            </a>
                        </div>
                    </div>
                    <div class="pmd-card-actions">
                        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary">评论</button>
                        <button class="btn pmd-btn-flat pmd-ripple-effect btn-default" type="button">回复</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-brick">
                <h3 class="text-muted">2017/3/28  16:53:21</h3>
                <div class="pmd-card pmd-card-media-inline pmd-card-default pmd-z-depth">
                    <div class="pmd-card-media">
                        <div class="media-body">
                            <h2 class="pmd-card-title-text">有计划的学习，对我很适用！期待与小伙伴交流心得</h2>
                            <span class="pmd-card-subtitle-text">sinisa</span>
                        </div>
                        <div class="media-right media-middle">
                            <a href="javascript:void(0);">
                                <img src="UI/themes/images/user-sinisa.jpg" width="80" height="80">
                            </a>
                        </div>
                    </div>
                    <div class="pmd-card-actions">
                        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary">评论</button>
                        <button class="btn pmd-btn-flat pmd-ripple-effect btn-default" type="button">回复</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-brick">
                <h3 class="text-muted">2017/4/15  12:00:29</h3>
                <div class="pmd-card pmd-card-media-inline pmd-card-default pmd-z-depth">
                    <div class="pmd-card-media">
                        <div class="media-body">
                            <h2 class="pmd-card-title-text">这个APP对我帮助很大，推荐小伙伴尝试哦~~~</h2>
                            <span class="pmd-card-subtitle-text">张三</span>
                        </div>
                        <div class="media-right media-middle">
                            <a href="javascript:void(0);">
                                <img src="UI/themes/images/user-sergey.jpg" width="80" height="80">
                            </a>
                        </div>
                    </div>
                    <div class="pmd-card-actions">
                        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary">评论</button>
                        <button class="btn pmd-btn-flat pmd-ripple-effect btn-default" type="button">回复</button>
                    </div>
                </div>
            </div>

        </div>

        <a type="button" style="margin-top:15px;" class="btn pmd-ripple-effect btn-success btn-block">加载更多</a>         
    </div>
    <!--typography constructor -->

</div>