<div id="content" class="pmd-content" ng-if="menuList.nowmenu == 'courseManager'" ng-controller="courseManager">
    <div class="container-fluid">

        <!--section-title -->
        <h1 class="section-title" id="services">
            <span>课程管理</span>
        </h1><!--section-title end -->
        <!--breadcrum start-->
        <ol class="breadcrumb text-left">
            <li><a ng-click="showMenu('homePage')">主页</a></li>
            <li class="active">课程管理</li>
        </ol><!--breadcrum end-->
        <!--component header -->
        <div class="componant-title-bg">
            <p class="lead">选择你喜欢的课程进行加入吧。</p>
        </div>

        <div class="section billinfo">
            <!-- section content start-->
            <div class="pmd-card pmd-z-depth">
                <div class="pmd-card-body">
                    <div class="row" role="form">
                        <div class="col-sm-3">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <input class="form-control" id="exampleInputEmail2" type="text" ng-model="query.userName" placeholder="教师名称"><span class="pmd-textfield-focused"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <input class="form-control" id="exampleInputPassword2" type="text" ng-model="query.courseName" placeholder="课程名称"><span class="pmd-textfield-focused"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label class="checkbox-inline pmd-checkbox pmd-checkbox-ripple-effect">
                                <input type="checkbox" value="" checked="" ng-model="query.isPrimary"><span class="pmd-checkbox-label">&nbsp;</span>
                                <span> 小学课程</span>
                            </label>
                            <label class="checkbox-inline pmd-checkbox pmd-checkbox-ripple-effect">
                                <input type="checkbox" value="" checked="" ng-model="query.isMiddle"><span class=" pmd-checkbox-label">&nbsp;</span>
                                <span> 中学课程</span>
                            </label>
                        </div>
                        <div class="col-sm-3 text-right">
                            <button data-target="#form-dialog" data-toggle="modal" class="btn btn-info" type="button" ng-click="showAddCourse()">新增</button>
                            <button type="button" class="btn btn-success " ng-click="serachData()">搜索</button>
                        </div>
                    </div>
                </div>
            </div> <!-- section content end -->
        </div>

        <div class="row masonry" id="card-masonry-people" style="position: relative; opacity: 1;">
            <div tabindex="-1" class="modal fade" id="form-dialog">
                <div class="modal-dialog" ng-show="userCtrlType=='add' || userCtrlType=='edit'">
                    <div class="modal-content">
                        <div class="modal-header bordered">
                            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                            <h2 class="pmd-card-title-text">{{userCtrlType=='add' ?'新增':'修改'}}</h2>
                        </div>
                        <div class="modal-body">
                            <div class="form-horizontal">
                                <div class="form-group pmd-textfield ">
                                    <label for="first-name">课程名：</label>
                                    <input type="text" class="form-control" id="name" ng-model="newcourse.courseName">
                                </div>
                                <div class="form-group pmd-textfield ">
                                    <label for="first-name">主讲老师</label>
                                    <input type="text" class=" form-control" id="phone" ng-model="newcourse.userName">
                                </div>
                                <div class="form-group pmd-textfield pmd-textfield-floating-label" ng-show="newperson.type != '管理员'">
                                    <label class="checkbox-inline pmd-checkbox pmd-checkbox-ripple-effect">
                                        <input type="radio" name="layerType" value="中学" ng-model="newcourse.layerType"><span class="pmd-checkbox-label">&nbsp;</span>
                                        <span> 中学课程</span>
                                    </label>
                                    <label class="checkbox-inline pmd-checkbox pmd-checkbox-ripple-effect">
                                        <input type="radio" name="layerType" value="小学" ng-model="newcourse.layerType"><span class="pmd-checkbox-label">&nbsp;</span>
                                        <span> 小学课程</span>
                                    </label>
                                </div>
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label class="control-label">课程说明</label>
                                    <textarea required class="form-control" ng-model="newcourse.note"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="pmd-modal-action">
                            <button class="btn pmd-ripple-effect btn-primary" ng-class="validate ? '' : 'disabled'" type="button" ng-click="addNewPerson()">{{userCtrlType=='add' ?'新增':'修改'}}</button>
                            <button data-dismiss="modal" class="btn pmd-ripple-effect btn-default" type="button">取消</button>
                        </div>
                    </div>
                </div>
                <!-- view new form -->
                <div class="modal-dialog" ng-show="userCtrlType=='view'">
                    <div class="modal-content">
                        <div class="modal-header bordered">
                            <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                            <h2 class="pmd-card-title-text">{{courseList[nowindex].title}}</h2>
                        </div>
                        <div class="modal-body">
                            <div class="form-horizontal">
                                <div class="form-group pmd-textfield">
                                    <label for="first-name">课程名</label>
                                    <input type="text" class="form-control" id="name" value="{{courseList[nowindex].courseName}}" disabled>
                                </div>
                                <div class="form-group pmd-textfield">
                                    <label for="first-name">主讲教师</label>
                                    <input type="text" class="form-control" id="phone" ng-model="courseList[nowindex].userName" disabled>
                                </div>
                                <div class="form-group pmd-textfield pmd-textfield-floating-label" ng-show="courseList[nowindex].type != '管理员'">
                                    <label class="checkbox-inline pmd-checkbox pmd-checkbox-ripple-effect">
                                        <input type="radio" name="layerType" value="中学" ng-model="courseList[nowindex].layerType" disabled><span class="pmd-checkbox-label">&nbsp;</span>
                                        <span> 中学课程</span>
                                    </label>
                                    <label class="checkbox-inline pmd-checkbox pmd-checkbox-ripple-effect">
                                        <input type="radio" name="layerType" value="小学" ng-model="courseList[nowindex].layerType" disabled><span class="pmd-checkbox-label">&nbsp;</span>
                                        <span> 小学课程</span>
                                    </label>
                                </div>
                                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                    <label class="control-label">课程说明</label>
                                    <textarea required class="form-control" ng-model="courseList[nowindex].note" disabled></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="pmd-modal-action">
                            <button data-dismiss="modal" class="btn pmd-ripple-effect btn-default" type="button">取消</button>
                        </div>
                    </div>
                </div>
                <!-- confirm delete-->
                <div class="modal-dialog" ng-show="userCtrlType=='delete'" style="margin-top: 204px;">
                    <div class="modal-content">
                        <div class="modal-body"> 你确定删除当前对象吗? </div>
                        <div class="pmd-modal-action text-right">
                            <button class="btn pmd-ripple-effect btn-primary pmd-btn-flat" type="button" ng-click="confirmDel()">确定</button>
                            <button data-dismiss="modal" class="btn pmd-ripple-effect btn-default pmd-btn-flat" type="button">取消</button>
                        </div>
                    </div>
                </div>
            </div>


            <!--窗口显示-->
            <div class="col-md-4 col-sm-6 masonry-brick" ng-if="course.show" ng-repeat="course in courseList track by $index">
                <h3 class="text-muted">{{course.title}}</h3>
                <div class="pmd-card pmd-card-default pmd-z-depth-4">
                    <div class="pmd-card-title">
                        <div class="media-left">
                            <a class="avatar-list-img" href="javascript:void(0);">
                                <img ng-src="{{course.imageUrl}}" width="40" height="40">
                            </a>
                        </div>
                        <div class="media-body media-middle">
                            <h3 class="pmd-card-title-text">{{course.courseName}}</h3>
                            <span class="pmd-card-subtitle-text">主讲老师:{{course.userName}}</span>
                        </div>
                    </div>
                    <div class="pmd-card-media">
                        <img ng-src="{{course.imageUrl}}" width="666" height="300" class="img-responsive">
                    </div>
                    <div class="pmd-card-title">
                        <h2 class="pmd-card-title-text">{{course.courseName}}</h2>
                        <span class="pmd-card-subtitle-text">{{course.time}}</span>
                    </div>
                    <div class="pmd-card-body">
                        {{course.content}}
                    </div>
                    <div class="pmd-card-actions">
                        <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">share</i></button>
                        <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">thumb_up</i></button>
                        <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm">drafts</i></button>
                        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary" ng-click="showDeatil($index)">查看</button>
                        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-success" ng-click="showEditWnd($index)">更新</button>
                        <button class="btn pmd-btn-flat pmd-ripple-effect btn-default" ng-click="delCourse($index)" type="button">删除</button>
                    </div>
                </div>
            </div>

        </div>

        <a type="button" style="margin-top:15px;" class="btn pmd-ripple-effect btn-success btn-block" ng-click="addMore()">加载更多</a>

    </div>
</div>
