<div id="content_courseManager" class="pmd-content" ng-if="menuList.nowmenu == 'courseManager'" ng-controller="courseManager">
    <div class="container-fluid">

        <!--section-title -->
        <h1 class="section-title" id="services">
            <span>课程管理</span>
        </h1><!--section-title end -->
        <!--breadcrum start-->
        <ol class="breadcrumb text-left">
            <li><a ng-click="showMenu('homePage')">主页</a></li>
            <li class="active">课程管理</li>
        </ol><!--breadcrum end-->
        <!--component header -->
        <div class="componant-title-bg">
            <p class="lead">选择你喜欢的课程进行加入吧。</p>
        </div>

        <div class="section billinfo">
            <!-- section content start-->
            <div class="pmd-card pmd-z-depth">
                <div class="pmd-card-body">
                    <div class="row" role="form">
                        <div class="col-sm-3">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <input class="form-control" id="exampleInputEmail2" type="text" ng-model="query.teacherName" placeholder="教师名称"><span class="pmd-textfield-focused"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <input class="form-control" id="exampleInputPassword2" type="text" ng-model="query.courseName" placeholder="课程名称"><span class="pmd-textfield-focused"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label class="checkbox-inline pmd-checkbox pmd-checkbox-ripple-effect">
                                <input type="checkbox" value="" checked="" ng-model="query.isPrimary"><span class="pmd-checkbox-label">&nbsp;</span>
                                <span> 小学课程</span>
                            </label>
                            <label class="checkbox-inline pmd-checkbox pmd-checkbox-ripple-effect">
                                <input type="checkbox" value="" checked="" ng-model="query.isMiddle"><span class=" pmd-checkbox-label">&nbsp;</span>
                                <span> 中学课程</span>
                            </label>
                        </div>
                        <div class="col-sm-3 text-right">
                            <button data-target="#form-dialog" data-toggle="modal" class="btn btn-info" type="button" ng-click="showAddCourse()">新增</button>
                            <button type="button" class="btn btn-success " ng-click="serachData()">搜索</button>
                        </div>
                    </div>
                </div>
            </div> <!-- section content end -->
        </div>


        <!--#include file="action.html" -->

        <div class="row masonry" id="card-masonry-people" style="position: relative; opacity: 1;" ng-show="pageType=='list'">
            <!--窗口显示-->
            <div class="col-md-4 col-sm-6 masonry-brick" ng-if="course.show" ng-repeat="course in courseList track by $index">
                <div class="text-left alert-custom title-span">
                    <button type="button" ng-repeat="tilte in course.title.split(',') track by $index" ng-class="$index % 4 == 0? 'btn-primary' : $index % 4 == 1 ? 'btn-info' :$index % 4 == 2 ? 'btn-danger' :'btn-success'" class="btn-sm btn-primary">{{course.title.split(',')[$index]}}</button>
                </div>
                <div class="pmd-card pmd-card-default pmd-z-depth-3">
                    <div class="pmd-card-title">
                        <div class="media-left">
                            <a class="avatar-list-img" href="javascript:void(0);">
                                <img ng-src="{{course.userPic}}" width="40" height="40">
                            </a>
                        </div>
                        <div class="media-body media-middle">
                            <h3 class="pmd-card-title-text">{{course.courseName}}</h3>
                            <span class="pmd-card-subtitle-text">主讲老师:{{course.teacherName}}</span>
                        </div>
                    </div>
                    <div class="pmd-card-media">
                        <img ng-src="{{course.pic}}" width="666" height="200" class="img-responsive" style="height:200px;">
                    </div>
                    <div class="pmd-card-title">
                        <h2 class="pmd-card-title-text">{{course.courseName}}</h2>
                        <span class="pmd-card-subtitle-text">{{course.updateTime}}</span>
                    </div>
                    <div class="pmd-card-body">
                        {{course.content}}
                    </div>
                    <div class="pmd-card-actions">
                        <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm" ng-click="AddCourseSupport($index)">thumb_down</i></button>{{course.support}}
                        <button class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect btn-primary" type="button"><i class="material-icons pmd-sm" ng-click="AddCourseOppose($index)">thumb_up</i></button>{{course.oppose}}
                        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary" ng-click="showDeatil($index)">查看</button>
                        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-success" ng-click="showEditWnd($index)">更新</button>
                        <button class="btn pmd-btn-flat pmd-ripple-effect btn-default" ng-click="delCourse($index)" type="button">删除</button>
                        <button class="btn pmd-btn-flat pmd-ripple-effect btn-info" ng-click="showPlan($index)" type="button">计划</button>
                    </div>
                </div>
            </div>
            <a type="button" class="btn pmd-ripple-effect btn-success btn-block btn-loadmore" ng-click="addMore()">加载更多</a>
        </div>
        <!--#include file="plan.html" -->
        
    </div>
</div>
