<div id="content" class="pmd-content" ng-if="menuList.nowmenu == 'systemSetting'">

    <!-- Typography  -->
    <div class="container-fluid">

        <!--section-title -->
        <h1 class="section-title" id="services">
            <span>系统设置</span>
        </h1><!--section-title end -->
        <!--breadcrum start-->
        <ol class="breadcrumb text-left">
            <li><a ng-click="showMenu('homePage')">主页</a></li>
            <li class="active">系统设置</li>
        </ol><!--breadcrum end-->
        <!-- componant header-->
        <div class="componant-title-bg">
            <div class="row">
                <!-- component title and description-->
                <div class="col-xs-12"> 
                    <p class="lead">该模块正在紧张开发中哦，敬请期待.</p>
                </div> <!--end component title and description-->
            </div>
        </div> <!--end component header-->

    </div>
    <!--typography constructor -->

</div>