<div tabindex="-1" class="modal fade" id="form-dialog">
    <!--add or edit new form-->
    <div class="modal-dialog" ng-show="(userCtrlType=='add' || userCtrlType=='edit')  && !loadingForm">
        <div class="modal-content">
            <div class="modal-header bordered">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h2 class="pmd-card-title-text">{{userCtrlType=='add' ?'新增':'修改'}}{{userRoles[newperson.Type].name}}</h2>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group pmd-textfield">
                        <label for="first-name">姓名</label>
                        <input type="text" class="form-control" id="Nickname" ng-model="newperson.Nickname">
                    </div>
                    <div class="form-group pmd-textfield" ng-show="userCtrlType=='add'">
                        <label for="first-name">登录名 (唯一且不可修改)</label>
                        <input type="text" class="form-control" id="UserName" ng-model="newperson.UserName">
                    </div>
                    <div class="form-group pmd-textfield">
                        <label for="first-name">电话</label>
                        <input type="text" class="form-control" id="Tel" ng-model="newperson.Tel">
                    </div>
                    <div class="form-group pmd-textfield">
                        <label for="first-name">头像地址</label> 
                        <div class="row text-center" ng-show="newperson.Alternate2">
                            <img ng-src="{{newperson.Alternate2}}" width="40%" height="120" style="margin:10px;">
                        </div>
                        <button class="btn pmd-btn-raised btn-primary btn-block pmd-ripple-effect" ng-class="btn_upload == '浏览图片' ? '' : 'disabled'" type="button" onclick="$('#ImgUpload').click();"> {{btn_upload}}</button>
                        <input type="file" id="ImgUpload" data-url="/Server/UploadHandler.ashx" onchange="angular.element(this).scope().showImg(this.files)" class="hidden" name="File" accept=".jpg,.png,.gif">
                    </div>
                    <div class="alert alert-danger text-center" role="alert" ng-show="pic_error">
                        图片大小要介于<a href="javascript:void(0);" class="alert-link">0K~300K</a>, 请重新选择!
                    </div>
                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                        <label class="checkbox-inline pmd-checkbox pmd-checkbox-ripple-effect" ng-repeat="role in userRoles track by $index">
                            <input type="radio" id="userType{{role.id}}" name="userType{{role.id}}" value="{{role.id}}" ng-model="newperson.Type"><span class="pmd-checkbox-label">&nbsp;</span>
                            <span> {{role.name}}</span>
                        </label>
                    </div>
                    <div class="form-group pmd-textfield pmd-textfield-floating-label" ng-show="newperson.Type != '1' && newperson.Type != '2'">
                        <label class="checkbox-inline pmd-checkbox pmd-checkbox-ripple-effect" ng-repeat="layer in userLayers track by $index">
                            <input type="radio" id="Layer{{layer.id}}" name="Layer{{layer.id}}" value="{{layer.id}}" ng-model="newperson.Layer"><span class="pmd-checkbox-label">&nbsp;</span>
                            <span> {{layer.name}}</span>
                        </label>
                    </div>
                    <div class="form-group pmd-textfield">
                        <label class="control-label">个人说明</label>
                        <textarea required class="form-control" ng-model="newperson.Note"></textarea>
                    </div>
                </div>
            </div>
            <div class="pmd-modal-action">
                <button class="btn pmd-ripple-effect btn-primary" ng-class="validate ? '' : 'disabled'" type="button" ng-click="addNewPerson()">{{userCtrlType=='add' ?'新增':'修改'}}</button>
                <button data-dismiss="modal" class="btn pmd-ripple-effect btn-default" type="button">取消</button>
            </div>
        </div>
    </div>
    <!-- view new form -->
    <div class="modal-dialog" ng-show="userCtrlType=='view' && !loadingForm">
        <div class="modal-content">
            <div class="modal-header bordered">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h2 class="pmd-card-title-text">查看{{userRoles[newperson.Type].name}}</h2>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group pmd-textfield">
                        <label for="first-name">姓名</label>
                        <input type="text" class="form-control" id="name" value="{{peopleList[nowindex].UserName}}" disabled>
                    </div>
                    <div class="form-group pmd-textfield">
                        <label for="first-name">电话</label>
                        <input type="text" class="form-control" id="Tel" ng-model="peopleList[nowindex].Tel" disabled>
                    </div>
                    <div class="form-group pmd-textfield">
                        <label for="first-name">头像地址</label> 
                        <div class="row text-center" ng-show="peopleList[nowindex].Alternate2">
                            <img ng-src="{{peopleList[nowindex].Alternate2}}" width="40%" height="120" style="margin:10px;">
                        </div>
                    </div>
                    <div class="form-group pmd-textfield pmd-textfield-floating-label">
                        <label class="checkbox-inline pmd-checkbox pmd-checkbox-ripple-effect" ng-repeat="role in userRoles track by $index">
                            <input type="radio" id="userType{{role.id}}" name="userType{{role.id}}" value="{{role.id}}" ng-model="peopleList[nowindex].Type" disabled><span class="pmd-checkbox-label">&nbsp;</span>
                            <span> {{role.name}}</span>
                        </label>
                    </div>
                    <div class="form-group pmd-textfield pmd-textfield-floating-label" ng-show="peopleList[nowindex].Type != '1' && peopleList[nowindex].Type != '2'">
                        <label class="checkbox-inline pmd-checkbox pmd-checkbox-ripple-effect" ng-repeat="layer in userLayers track by $index">
                            <input type="radio" id="userType{{Layer.id}}" name="userType{{Layer.id}}" value="{{layer.id}}" ng-model="peopleList[nowindex].Layer" disabled><span class="pmd-checkbox-label">&nbsp;</span>
                            <span> {{layer.name}}</span>
                        </label>
                    </div>
                    <div class="form-group pmd-textfield">
                        <label class="control-label">个人说明</label>
                        <textarea required class="form-control" ng-model="peopleList[nowindex].Note" disabled></textarea>
                    </div>
                </div>
            </div>
            <div class="pmd-modal-action">
                <button data-dismiss="modal" class="btn pmd-ripple-effect btn-default" type="button">取消</button>
            </div>
        </div>
    </div>
    <!-- confirm delete-->
    <div class="modal-dialog" ng-show="userCtrlType=='delete' && !loadingForm" style="margin-top: 204px;">
        <div class="modal-content">
            <div class="modal-body"> 你确定删除当前对象吗? </div>
            <div class="pmd-modal-action text-right">
                <button class="btn pmd-ripple-effect btn-primary pmd-btn-flat" type="button" ng-click="confirmDel()">确定</button>
                <button data-dismiss="modal" class="btn pmd-ripple-effect btn-default pmd-btn-flat" type="button">取消</button>
            </div>
        </div>
    </div>
    <!-- loading form-->
    <div class="modal-dialog modal-sm" ng-show="loadingForm" style="margin-top: 230px; width: 150px;">
        <div class="">
            <img width="1184" height="666" class="img-responsive" src="/Static/img/loading.gif">
            <div class="modal-body text-center" style="color: white;"> 玩命加载中 </div>
        </div>
    </div>
</div>