<div id="content" class="pmd-content" ng-if="menuList.nowmenu == 'peopleManager'" ng-controller="peopleManager">

    <!-- Typography  -->
    <div class="container-fluid">

        <!--section-title -->
        <h1 class="section-title" id="services">
            <span>人员管理</span>
        </h1><!--section-title end -->
        <!--breadcrum start-->
        <ol class="breadcrumb text-left">
            <li><a ng-click="showMenu('homePage')">主页</a></li>
            <li class="active">人员管理</li>
        </ol><!--breadcrum end-->
        <!-- componant header-->
        <div class="componant-title-bg">
            <div class="row">
                <!-- component title and description-->
                <div class="col-xs-12">
                    <p class="lead">选择你要查看的人员进行操作吧.</p>
                </div> <!--end component title and description-->
            </div>
        </div> <!--end component header-->

        <div class="section billinfo">
            <!-- section content start-->
            <div class="pmd-card pmd-z-depth-2">
                <div class="pmd-card-body">
                    <div class="row" role="form">
                        <div class="col-sm-2">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <input class="form-control" id="exampleInputEmail2" type="text" ng-model="query.userName" placeholder="姓名"><span class="pmd-textfield-focused"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group pmd-textfield pmd-textfield-floating-label">
                                <input class="form-control" id="exampleInputPassword2" type="text" ng-model="query.Tel" placeholder="联系方式"><span class="pmd-textfield-focused"></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label class="checkbox-inline pmd-checkbox pmd-checkbox-ripple-effect">
                                <input type="checkbox" value="" ng-model="query.isParent"><span class="pmd-checkbox-label">&nbsp;</span>
                                <span> 家长</span>
                            </label>
                            <label class="checkbox-inline pmd-checkbox pmd-checkbox-ripple-effect">
                                <input type="checkbox" value="" ng-model="query.isTeacher"><span class="pmd-checkbox-label">&nbsp;</span>
                                <span> 教师</span>
                            </label>
                            <label class="checkbox-inline pmd-checkbox pmd-checkbox-ripple-effect">
                                <input type="checkbox" value="" ng-model="query.isStudent"><span class="pmd-checkbox-label">&nbsp;</span>
                                <span> 学生</span>
                            </label>
                            <label class="checkbox-inline pmd-checkbox pmd-checkbox-ripple-effect">
                                <input type="checkbox" value="" ng-model="query.isManager"><span class="pmd-checkbox-label">&nbsp;</span>
                                <span> 管理员</span>
                            </label>
                        </div>
                        <div class="col-sm-3 text-right">
                            <button data-target="#form-dialog" data-toggle="modal" class="btn btn-info" type="button" ng-click="showAddPerson()">新增</button>
                            <button type="button" class="btn btn-success" ng-click="serachData()">搜索</button>
                        </div>
                    </div>
                </div>
            </div> <!-- section content end -->
        </div>


        <div class="row masonry" id="card-masonry-people" style="position: relative; opacity: 1;">

            <!--#include file="action.html" -->

            <div class="col-md-4 col-sm-6 masonry-brick" ng-if="user.StateId" ng-repeat="user in peopleList track by $index">
                <h3 class="text-muted">{{userRoles[user.Type].name}}</h3>
                <div class="pmd-card pmd-card-media-inline pmd-card-default pmd-z-depth-3">
                    <div class="pmd-card-media">
                        <div class="media-body">
                            <h2 class="pmd-card-title-text">{{user.Nickname}}:{{user.UserName}}</h2>
                            <span class="pmd-card-subtitle-text">{{user.Note}}</span>
                            <br />
                            <span class="pmd-card-subtitle-text">电话: {{user.Tel}}</span>
                        </div>
                        <div class="media-right media-middle">
                            <a href="javascript:void(0);">
                                <img ng-src="{{user.Alternate2}}" width="80" height="80">
                            </a>
                        </div>
                    </div>
                    <div class="pmd-card-actions">
                        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-primary" ng-click="showDeatil($index)">查看</button>
                        <button type="button" class="btn pmd-btn-flat pmd-ripple-effect btn-success" ng-click="showEditWnd($index)">更新</button>
                        <button class="btn pmd-btn-flat pmd-ripple-effect btn-default" ng-show="user.UserName != 'admin'" ng-click="delPerson($index)" type="button">删除</button>
                    </div>
                </div>
            </div>

        </div>

        <a type="button" style="margin-top:15px;" class="btn pmd-ripple-effect btn-success btn-block" ng-click="addMore()">加载更多</a>

    </div>
    <!--typography constructor -->

</div>