<!--Start Nav bar -->
<nav class="navbar navbar-inverse navbar-fixed-top pmd-navbar pmd-z-depth" ng-controller="indexHead">
    <div class="container-fluid">
        <div class="pmd-navbar-right-icon pull-right navigation">
            <!-- Notifications -->
            <div class="dropdown notification icons pmd-dropdown">
                <a href="javascript:void(0)" title="Notification" class="dropdown-toggle pmd-ripple-effect" data-toggle="dropdown" role="button" aria-expanded="true">
                    <div data-badge="{{noticeList.length}}" class="material-icons md-light pmd-sm pmd-badge  pmd-badge-overlap">notifications_none</div>
                </a>
                <div class="dropdown-menu dropdown-menu-right pmd-card pmd-card-default pmd-z-depth" role="menu">
                    <!-- Card header -->
                    <div class="pmd-card-title">
                        <div class="media-body media-middle">
                            <a href="#" class="pull-right">{{noticeList.length}}条新消息</a>
                            <h3 class="pmd-card-title-text">消息</h3>
                        </div>
                    </div>
                    <!-- Notifications list -->
                    <ul class="list-group pmd-list-avatar pmd-card-list">
                        <li class="list-group-item" ng-show="noticeList.length == 0">
                            <p class="notification-blank">
                                <span class="dic dic-notifications-none"></span>
                                <span>You don´t have any notifications</span>
                            </p>
                        </li>

                        <li class="list-group-item " ng-class="notice.read?'read':'unread'" ng-repeat="notice in noticeList">
                            <a ng-click="readMessage($index)">
                                <div class="media-left">
                                    <span class="avatar-list-img40x40">
                                        <img class="img-responsive" ng-src="{{notice.imageUrl}}">
                                    </span>
                                </div>
                                <div class="media-body">
                                    <span class="list-group-item-heading"><span>{{notice.userName}}</span> {{notice.content}}</span>
                                    <span class="list-group-item-text">{{notice.sendTime}}</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- End notifications list -->
                </div>
            </div>
            <!-- End notifications -->
        </div>
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a href="javascript:void(0);" class="btn btn-sm pmd-btn-fab pmd-btn-flat pmd-ripple-effect pull-left margin-r8 pmd-sidebar-toggle"><i class="material-icons">menu</i></a>
            <a href="index.aspx" class="navbar-brand">
                我的E伙伴
            </a>
        </div>
    </div>
</nav>
<!--End Nav bar -->