<!-- Left sidebar -->
<aside class="pmd-sidebar sidebar-default pmd-sidebar-slide-push pmd-sidebar-left pmd-sidebar-open bg-fill-darkblue sidebar-with-icons" role="navigation">
    <ul class="nav pmd-sidebar-nav" ng-controller="indexSide">
        <!-- User info -->
        <li class="dropdown pmd-dropdown pmd-user-info visible-xs visible-md visible-sm visible-lg">
            <a aria-expanded="false" data-toggle="dropdown" class="btn-user dropdown-toggle media" data-sidebar="true" aria-expandedhref="javascript:void(0);">
                <div class="media-left">
                    <img ng-src="{{nowUserPic}}" width="40" height="40" alt="New User">
                </div>
                <div class="media-body media-middle">{{nowUserName}}</div>
                <div class="media-right media-middle"><i class="dic-more-vert dic"></i></div>
            </a>
            <ul class="dropdown-menu">
                <li><asp:LinkButton ID="butn_logout" runat="server" OnClick="butn_logout_Click">注销</asp:LinkButton></li>
            </ul>
        </li>
        <!-- End user info -->

        <li ng-class="menu.submenus.length == 0 ? '':'dropdown pmd-dropdown'" ng-repeat="menu in menuList.menus">
            <a aria-expanded="false" data-toggle="dropdown" class="btn-user dropdown-toggle media" ng-class="menu.control == menuList.nowmenu ? 'active':''" data-sidebar="true">
                <i class="material-icons media-left pmd-sm">{{menu.icon}}</i>
                <span class="media-body" ng-click="showMenu(menu.control)">{{menu.name}}</span>
            </a>
        </li>

    </ul>
</aside>
<!-- End Left sidebar -->